In [77]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [78]:
df = pd.read_csv('https://raw.githubusercontent.com/AdiPersonalWorks/Random/master/student_scores%20-%20student_scores.csv')
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [79]:
X = df['Hours']
X1 = X.to_numpy(dtype =float)
X = list()
for i in X1:
  X.append([i])
print(X)
y = df['Scores']
y = y.to_numpy(dtype = float)
print(y)

[[2.5], [5.1], [3.2], [8.5], [3.5], [1.5], [9.2], [5.5], [8.3], [2.7], [7.7], [5.9], [4.5], [3.3], [1.1], [8.9], [2.5], [1.9], [6.1], [7.4], [2.7], [4.8], [3.8], [6.9], [7.8]]
[21. 47. 27. 75. 30. 20. 88. 60. 81. 25. 85. 62. 41. 42. 17. 95. 30. 24.
 67. 69. 30. 54. 35. 76. 86.]

In [80]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [81]:
from sklearn.linear_model import LinearRegression
model = LinearRegression().fit(X_train,y_train)
print(model.coef_)
print(model.intercept_)

[9.77018268]
2.834119033588671

In [82]:
y_pred = model.predict(X_test)
print(y_pred)

[83.92663524 29.21361226 27.25957572 21.39746612 27.25957572]

In [83]:
data_table = pd.DataFrame({"Actual":y_test,"Predicted":y_pred})
data_table

   Actual  Predicted
0    81.0  83.926635
1    25.0  29.213612
2    21.0  27.259576
3    24.0  21.397466
4    30.0  27.259576

In [84]:
ans = model.predict([[9.25]])
print(ans)

[93.20830878]